@model IEnumerable<Models.Driver>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<p>
    <a href="/Home/Index">Back to main menu</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                Driver name:
            </th>
            <th>
                Year of Born:
            </th>
            <th>
                Country of origin:
            </th>
            <th>
                Racer number:
            </th>
            <th>
                Name of the team:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BornYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceNumber)
            </td>
            <td>                 
                @Html.DisplayFor(modelItem => item.TIDN)
            </td>
            
        </tr>
}
    </tbody>
</table>
</body>
</html>
