@model IEnumerable<Models.League>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/List.css" rel="stylesheet" />
    <title>LeagueList</title>
</head>
<body>
<h2>List of Leagues</h2>
    
<table class="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceTypes)
            </th>
            <th>
                Add a team
            </th>
            <th>
                List of teams
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceTypes)
            </td>
            <td>
                <a href="/Home/TeamAdd?id=@item.LID">Add a team</a>
            </td>
            <td>
                <a href="/Home/TeamList?id=@item.LID">List of teams</a>
            </td>
            <td>
                <a href="/Home/LeagueDelete?id=@item.LID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a href="/Home/Index">Main menu</a></p>
    <p>
    <a href="/Home/AllTeamList">List all teams</a>
        </p>
</body>
</html>
