@model Models.Stat

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Statistics</title>
    </head>
    <body>
    
        <h1>Stats</h1>
    
        <p>The most driver in a team: @Model.MostDriverInTeam </p>

        <br><br><br>
        Teams of best league: 
        <div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Team name:
                </th>
                <th>
                    Team creation year:
                </th>
                <th>
                    Team origin:
                </th>
                <th>
                    Choice of engine:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeamsOfBestLeague)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Engine)
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
</div>

        <div>
            <p>Drivers of oldest team:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Driver name:
                        </th>
                        <th>
                            Year of Born:
                        </th>
                        <th>
                            Country of origin:
                        </th>
                        <th>
                            Racer number:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OldestTeamDrivers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BornYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CountryB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RaceNumber)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>

            <p>Most used engine: @Model.MostUsedEngine</p>

        </div>
        
    </body>
    </html>
